.App {
  font-family: "Arial", sans-serif;
  text-align: center;
  background: #1a202c;
  color: white;
  height: 100vh;
}

header {
  padding: 20px;
  background: #1a202c;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

h1 {
  margin: 0;
}

p {
  margin: 5px 0;
}
