.App {
  font-family: "Arial", sans-serif;
  text-align: center;
  background: #1a202c;
  color: white;
  height: 100vh;
}

header {
  padding: 20px;
  background: #1a202c;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

h1 {
  margin: 0;
}

p {
  margin: 5px 0;
}

.feedback-form {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
  margin-top: 5px;
}

.feedback-success {
  background: #222f3e;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.feedback-success div {
  white-space: pre-line; /* 保留换行符 */
}

